select.multiselect_unsel {
  width: 250px;
}
select.multiselect_sel {
  width: 250px;
}
/* LABELS ABOVE FIELDS */
.multiselect_labels {
	font-weight: bold;
	color: #999;
	width: 575px;
}
.form-item .multiselect:after, .multiselect_labels:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.multiselect_labels .label_unselected {
	float: left;
}
.multiselect_labels .label_selected {
	float: right;
	margin-right: 145px;
}
td .multiselect_labels .label_selected { /* Fix for field collection display */
  float: none;
  padding-left: 300px;
}
/* FIELDS */
.multiselect_available {
	float: left;
	width: 250px; /* Fix for IE8 - http://drupal.org/node/990806 */
}
.form-disabled select.form-multiselect {
  background-color: #eee;
  color: #777;
}
select.form-multiselect {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
select.form-multiselect:focus {
  color: #000;
  border-color: #ace;
}
/* BUTTONS */
ul.multiselect_btns {
  list-style: none;
  margin: 10px 10px 0px 20px;
	padding: 0px;
	float: left;
}
.multiselect_btns + .form-item.form-type-select {padding-top: 0;}
li.multiselect_add, li.multiselect_remove {
	background: none;
  height: 38px;
  overflow: hidden;
	width: 33px;
	margin: 0px;
	padding: 0px;
}
li.multiselect_add {
	margin-bottom: 15px;
}
.multiselect_add a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(images/add.png) no-repeat;
  background-position: 0 0;
}
.multiselect_remove a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(images/remove.png) no-repeat;
  background-position: 0 0;
}
.multiselect_add a:hover,
.multiselect_add a:focus {
  background-position: -33px 0px;
}
.multiselect_add a:active {
  background-position: -66px 0px;
}
.multiselect_remove a:hover,
.multiselect_remove a:focus {
  background-position: -33px 0px;
}
.multiselect_remove a:active {
  background-position: -66px 0px;
}
/* FIELD DESCRIPTION */
.multiselect .description {
	display: block;
	clear: both;
}
/* Hide the original label placement. */
.multiselect .form-item label, .form-type-multiselect .form-item label {
  display: none;
}

.multiselect_orderUp a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(images/up.jpg) no-repeat;
  background-position: 0 0;
  outline: none;
  width:21px;
}
.multiselect_orderDown a {
  display: block;
  height: 38px;
  text-indent: -9999px;
  background: url(images/down.jpg) no-repeat;
  background-position: 0 0;
  outline: none;
}

li.multiselect_orderUp, li.multiselect_orderDown {
left:300px;
position:relative;
top:-80px;
list-style: none;
}