div.main-container {
    padding: 0;
}
.page-header {
    display: none;
}
#text-carousel-intro-section {
    background-image: url("/sites/default/files/slider-bg.jpg") !important;
    height: 700px;
}
.footer .copyright {
	font-size: 18px;
	color: #4E7AC7;
}